.wangmodal {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
  position: absolute;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr;
}


.wangphrase {
  /* height: 100vh;
  width: 100vh; */
  color: white;
  align-self: center;
  font-family: 'Righteous';
  font-size: 200px;
  margin: 0 auto;
  transform: rotate(-15deg);
  opacity: 1;
  z-index: 3;
  text-shadow: 1px 1px black;
}
