.App {
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 1fr 20% 20% 20%;
  text-align: center;

}

.App Board {
  grid-row: 2;
  grid-column: 3;
}

.center {
  justify-content: center
}

.logo {
  height:200px;
  width: 500px;
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  /* -webkit-transform: rotate(-10deg); */
/* }  */


.App-intro {
  font-size: large;
  grid-column: 3;
  grid-row: 5;
  justfy-self: center;
  align-self: center;
}

.contestant-component {
  display: grid;
  grid-template-columns: 2;
  border: 1px solid white;
}

.julie {
  grid-column-start: 1
}

.simon {
  grid-column-start: 2

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
